/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* primary color #ffeedf */
/* secondary color #145434 */

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color:#ffeedf ;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 20px;
    align-items: center;
    height: 60px;
    width: 100%;
    border-bottom: 2px #145434 solid;
    color: #145434;
    font-weight: 700;
}

header p {
    font-size: 36px;
}