/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* primary color #ffeedf brown */
/* secondary color #145434  green */

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    background-color:#ffeedf ;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:0 20px;
    align-items: center;
    height: 60px;
    width: 100%;
    border-bottom: 2px #145434 solid;
    color: #145434;
    font-weight: 700;
}

header p {
    font-size: 36px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 60px;
    margin: 80px auto;
}

.cards {
    align-items: center;
    color: #ffeedf;
    background-color: #145434;
    position: relative;
    border: black solid 2px;
    width: 100%;
    max-width: 400px;
    min-height: 250px;
    padding: 0 40px;
}

.title {
    border-bottom: 2px solid #ffeedf;
    font-size: 36px;
    min-height: 125px;
    padding-top: 40px;
}

.sub {
    font-size: 18px;
    padding-top: 10px;
}

.text {
    font-size: 18px;
    font-weight: 700;
}

.number {
    border-radius: 50px;
    height: 40px;
    width: 40px;
    font-size: 24px;
    position: absolute;
    top:-20px;
    left:-20px;
    color:#145434;
    border:1px solid #145434;
    background-color: #ffeedf;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 200px;
    height: 50px;
    position: absolute;
    bottom:-15px;
    right: -15px;
    font-size: 14px;
    font-family: 'Space Grotesk', sans-serif;
    border:2px solid #145434;
    background-color: #ffeedf;
    color: #145434;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
}



button:hover {
    background-color: #145434;
    color: #ffeedf;
    border: 2px solid #ffeedf;
}

button span {
    position: absolute;
    left: 160px;
}

@media (max-width: 435px) {
    .cards {
        width : 100%;
        max-width: 350px;
    }
}